<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Bitcoin Fork Monitor</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
    {% if chain_split %}
        <div style="font-size: x-large" align="center" class="alert alert-danger my-2 mx-2">
        WARNING: A CHAIN SPLIT HAS BEEN DETECTED.
        </div>
    {% endif %}
    <div class="card-deck my-3 mx-2">
    {% for n in nodes %}
        <div class="card {% if chain_split %}card-danger{% else %}card-success{% endif %} w-25">
            <div class="card-header text-white">
                Node: {{ n.name }}
            </div>
            <ul class="list-group">
                <li class="list-group-item">Current height: {{ n.best_block_height }}</li>
                <li class="list-group-item ">Best Block Hash: <small>{{ n.best_block_hash }}</small></li>
                <li class="list-group-item">Previous Block Hash: <small>{{ n.prev_block_hash }}</small></li>
                <li class="list-group-item">
                    Has Experienced a Blockchain Reorganization: {% if n.has_reorged %}<span class="text-danger font-weight-bold">Yes</span>{% else %}No{% endif %}</li>
                <li class="list-group-item">
                    Has not forked but is behind other nodes: {% if n.is_behind %}<span class="text-danger font-weight-bold">Yes</span>{% else %}No{% endif %}</li>
                {% if n.highest_divergence > 0 %}
                    <li class="list-group-item">Most Recent Forking Block Hash: <small>{{ n.highest_diverged_hash }}</small></li>
                    <li class="list-group-item">Most Recent Forking Block Height: {{ n.highest_divergence }}</li>
                {% endif %}
            </ul>
        </div>
    {% endfor %}
    </div>
    <div class="w-75 text-center pt-5 mx-auto">
        <h3>About This Website</h3>
        <p class="lead">
            <b>What is this website?</b> This website is for warning users if the Bitcoin blockchain has experienced a
            chain split due to the various fork proposals such as Segwit2x and BIP 148 UASF. If a chain split is detected,
            there will be
            a red warning banner at the top of the page stating that a chain split has been detected. Once a chain split
            has been detected, the status for each node will update with the block height of the most recent split from
            other nodes and the hash of the block at that height. The site will also warn if a node has fallen behind one
            of the other nodes and has not split onto a different chain from other node. It will also warn if one of the
            nodes has recently experienced a blockchain reorganization.
        </p>
        <p class="lead">
            <b>How does this website work?</b> The website runs a node for each of the nodes displayed above. A process
            run every ten seconds to check to see if each of the nodes has diverged from each other. To avoid triggering
            the warning in cases of orphaned blocks and latency, the site will only warn if a chain split of more than two
            blocks is detected.
        </p>
        <p class="lead">
            <b>How can I contribute to the website?</b> The source code for this website is available on
            <a href="https://github.com/achow101/forkmon">github</a>. It is written in python and uses Django for the backend.
            Styling is done with <a href="https://getbootstrap.com">Bootstrap</a>. Pull requests
            are welcome. You can also donate to the developer at <b><a href="bitcoin:1AQx99s7q1wVinbgXbA48BaZQVWpHe5gYM">
            1AQx99s7q1wVinbgXbA48BaZQVWpHe5gYM </a></b>
        </p>
    </div>
</body>
</html>