packages:
    yum:
        git: []
container_commands:
    01_collectstatuc:
        command: "python manage.py collectstatic --noinput"
        leader_only: true
    02_makemigrate:
        command: "python manage.py makemigrations"
        leader_only: true
    03_migrate:
        command: "python manage.py migrate"
        leader_only: true
    04_createsu:
        command: "python manage.py createsu"
        leader_only: true
    05_add_env:
        command: "cat /opt/python/current/env > update.sh"
        leader_only: true
    06_add_cmd:
        command: "echo \"source /opt/python/run/venv/bin/activate && python /opt/python/current/app/manage.py node_updates\" >> update.sh"
        leader_only: true
    07_add_cronjobs:
        command: "cat .ebextensions/cronjobs.txt > /etc/cron.d/forkmon_cronjob && chmod 644 /etc/cron.d/forkmon_cronjob"
        leader_only: true
    08_apply_deploy_patch:
        command: "git apply deploy.patch"