container_commands:
  01_collectstatuc:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  02_makemigrate:
    command: "python manage.py makemigrations"
    leader_only: true
  03_migrate:
    command: "python manage.py migrate"
    leader_only: true
  04_createsu:
    command: "python manage.py createsu"
    leader_only: true